#skillsh2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #E3DCD2;
    margin-top: 80px;
    background-color: #013328;
}


#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: black;
    font-size:20px;


}

.container{
    background-color: #E3DCD2;
    border-radius: 50px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border:8px solid #013328;
}
