.certificate{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 80px;
    gap: 20px;
}

.certificate img{
    width: 30%;
}

#weitereh2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #E3DCD2;
    margin-top: 80px;
    background-color: #013328;
}

}